name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Harbor
        run: |
          echo "=== 1. Vérification secrets ==="
          echo "User: '${{ secrets.HARBOR_USERNAME }}'"
          echo "Pass OK: ${{ secrets.HARBOR_PASSWORD != '' && '✓ OK' || '✗ VIDE' }}"
          
          echo "=== 2. Config Docker insecure ==="
          mkdir -p ~/.docker
          echo '{"insecure-registries":["10.2.240.5:8080"]}' > ~/.docker/config.json
          
          echo "=== 3. Test connexion Harbor ==="
          docker login http://10.2.240.5:8080 \
            --username ${{ secrets.HARBOR_USERNAME }} \
            --password-stdin <<< "${{ secrets.HARBOR_PASSWORD }}" && \
          echo "✓ LOGIN RÉUSSI" || echo "✗ LOGIN ÉCHOUÉ"


      - name: Build image
        run: |
          docker build -t 10.2.240.5:8080/production/api-iqss:${{ github.sha }} .
          docker tag 10.2.240.5:8080/production/api-iqss:${{ github.sha }} \
            10.2.240.5:8080/production/api-iqss:latest

      - name: Push image
        run: |
          docker push 10.2.240.5:8080/production/api-iqss:${{ github.sha }}
          docker push 10.2.240.5:8080/production/api-iqss:latest
