name: CI/CD

on:
# push:
#   branches:
#     - main
#     - uat

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
       
      - name: Set environment
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "NAMESPACE=default" >> $GITHUB_ENV
            echo "IMAGE_TAG=prod-${{ github.sha }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/uat" ]; then
            echo "NAMESPACE=uat" >> $GITHUB_ENV
            echo "IMAGE_TAG=uat-${{ github.sha }}" >> $GITHUB_ENV
          else
            echo "Branche non gérée, pas de déploiement"
            exit 0
          fi
        
      - name: Login to Harbor
        run: |
          echo "${{ secrets.HARBOR_PASSWORD }}" | docker login http://10.2.240.5:8080 \
            --username ${{ secrets.HARBOR_USERNAME }} \
            --password-stdin

      - name: Build image
        run: |
          docker build -t 10.2.240.5:8080/production/api-iqss:${{ env.IMAGE_TAG }} .

      - name: Push image
        run: |
          docker push 10.2.240.5:8080/production/api-iqss:${{ env.IMAGE_TAG }}

      - name: Update deployment image
        run: |
          if [ "${{ env.NAMESPACE }}" == "default" ]; then
            FILE="k8s/production/deployment.yaml"
          else
            FILE="k8s/uat/deployment.yaml"
          fi
          sed -i "s|image: 10.2.240.5:8080/production/api-iqss:.*|image: 10.2.240.5:8080/production/api-iqss:${{ env.IMAGE_TAG }}|g" $FILE
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git add $FILE
          git commit -m "update image tag to ${{ env.IMAGE_TAG }}"
          git push
